body {
  margin: 0;
  padding: 150px 30px;
}

.logo {
  height: 10rem;
}

.screenshot {
  width: 500px;
}

p {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-bottom: 10px;
  font-size: 8em;
  font-weight: 700;
  margin-top: 2rem;
  font-family: 'Quicksand', sans-serif;
}

.buttons {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.download {
  width: 10rem;
  height: 3rem;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.download:focus {
  outline: none;
}

.download-pop {
  width: 9.85rem;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

.mdl-menu__item:hover {
  text-decoration: none;
  color: #000000;
}

.docs {
  width: 6rem;
  margin-left: 2rem;
}

.docs:focus {
  outline: none;
}
